<h3>Новый пост:</h3>

<p>
  <form action="/new" method="post" role="form">
    <input type="text" name="post[author]" class="form-control" value="<%=@new_post.author%>" placeholder="Имя автора">
    <br>
    <textarea name="post[content]" class="form-control" rows="6" placeholder="Содержимое текста"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>
</p>
