<h3>Новый пост:</h3>

<p>
  <form action="/new" method="post" role="form">
    <input type="text" name="author" class="form-control" value="" placeholder="Имя автора">
    <br>
    <textarea name="content" class="form-control" rows="6" placeholder="Содержимое текста"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Принять</button>
  </form>
</p>
